.about {
  margin-top: 80px;
}
.about h1 {
  display: grid;
  place-items: center;
}

.imgAbout {
  width: 545px;
}
.about-text {
  margin-top: 110px;
}
.about-text h5{
  display: grid;
  place-items: center;
}
.p1{
  display: grid;
  place-items: center;
}
.p2{
  display: grid;
  place-items: center;
}
.button {
  margin-left: 120px;
}
